.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-container01 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-text {
  font-size: 80px;
  font-style: normal;
  text-align: center;
  letter-spacing: -0.025rem;
  background-image: linear-gradient(90deg, rgb(255, 0, 182) 0.00%,rgb(15, 0, 255) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text01 {
  color: var(--dl-color-secondary-700);
  font-style: normal;
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
}
.home-text02 {
  color: var(--dl-color-secondary-600);
  font-style: normal;
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  letter-spacing: -0.025rem;
}
.home-container02 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container04 {
  flex: 0 0 auto;
  width: 579px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image {
  width: 504px;
  height: 50%;
  object-fit: cover;
}
.home-image01 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 879px;
  height: 80vh;
  position: absolute;
  object-fit: cover;
  object-position: 4px;
  border-bottom-left-radius: 10rem;
}
.home-features {
  width: 100%;
  height: 326px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.home-text03 {
  font-style: normal;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  background-image: linear-gradient(90deg, rgb(255, 0, 189) 3%, rgb(54, 0, 225) 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text04 {
  color: rgb(103, 116, 142);
  max-width: 600px;
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(255, 255, 255);
}
.home-players {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container05 {
  width: 1275px;
  height: 447px;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1400px;
  align-items: center;
  padding-bottom: 48px;
  background-size: cover;
  justify-content: center;
}
.home-pricing-card {
  width: 325px;
  height: 435px;
  display: flex;
  position: relative;
  max-width: 450px;
  align-self: center;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-end;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 32px;
  background-size: cover;
  justify-content: center;
  background-image: url("/Replaced/kusalpink-1300w.png");
  background-position: center;
}
.home-pricing-card:hover {
  transform: scale(1.02);
}
.home-text05 {
  left: 25px;
  color: #ffffff;
  width: 58px;
  bottom: 25px;
  position: absolute;
  align-self: stretch;
}
.home-button {
  color: rgb(255, 255, 255);
  width: 104px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(195, 6, 112) 2.00%,rgb(111, 3, 210) 100.00%);
  border-top-left-radius: var(--dl-radius-radius-radius40);
  border-bottom-left-radius: var(--dl-radius-radius-radius40);
}
.home-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.home-button1 {
  color: rgb(255, 255, 255);
  width: 104px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(100, 7, 187) 0.00%,rgb(223, 6, 167) 100.00%);
  border-top-right-radius: var(--dl-radius-radius-radius40);
  border-bottom-right-radius: var(--dl-radius-radius-radius40);
}
.home-button1:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.home-pricing-card1 {
  width: 314px;
  height: 409px;
  display: flex;
  padding: 32px;
  position: relative;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-end;
  margin-right: 32px;
  border-radius: var(--dl-radius-radius-radius40);
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("/Replaced/anjelomathewspink-1300w.png");
  background-position: center;
}
.home-pricing-card1:hover {
  transform: scale(1.02);
}
.home-button2 {
  color: rgb(255, 255, 255);
  width: 104px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(195, 6, 112) 2.00%,rgb(111, 3, 210) 100.00%);
  border-top-left-radius: var(--dl-radius-radius-radius40);
  border-bottom-left-radius: var(--dl-radius-radius-radius40);
}
.home-button2:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.home-button3 {
  color: rgb(255, 255, 255);
  width: 104px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(100, 7, 187) 0.00%,rgb(223, 6, 167) 100.00%);
  border-top-right-radius: var(--dl-radius-radius-radius40);
  border-bottom-right-radius: var(--dl-radius-radius-radius40);
}
.home-button3:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.home-text06 {
  left: 25px;
  color: #ffffff;
  width: 58px;
  bottom: 25px;
  position: absolute;
  align-self: stretch;
}
.home-pricing-card2 {
  width: 324px;
  height: 419px;
  display: flex;
  position: relative;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-end;
  padding-top: 32px;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 32px;
  background-size: cover;
  justify-content: center;
  background-image: url("/Replaced/dimuthkarunarathnepink-1300w.png");
  background-position: center;
}
.home-pricing-card2:hover {
  transform: scale(1.02);
}
.home-button4 {
  color: rgb(255, 255, 255);
  width: 104px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(195, 6, 112) 2.00%,rgb(111, 3, 210) 100.00%);
  border-top-left-radius: var(--dl-radius-radius-radius40);
  border-bottom-left-radius: var(--dl-radius-radius-radius40);
}
.home-button4:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.home-button5 {
  color: rgb(255, 255, 255);
  width: 104px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(100, 7, 187) 0.00%,rgb(223, 6, 167) 100.00%);
  border-top-right-radius: var(--dl-radius-radius-radius40);
  border-bottom-right-radius: var(--dl-radius-radius-radius40);
}
.home-button5:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.home-text07 {
  left: 25px;
  color: #ffffff;
  bottom: 25px;
  position: absolute;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-container07 {
  width: 1133px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.home-text08 {
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(90deg, rgb(255, 0, 189) 3%, rgb(54, 0, 225) 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text09 {
  color: rgb(103, 116, 142);
  max-width: 600px;
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(255, 255, 255);
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unitandahalfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
}
.home-container09 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image02 {
  width: 568px;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
  margin-left: 3rem;
  margin-right: -3rem;
  border-radius: var(--dl-radius-radius-radius75);
}
.home-text10 {
  flex: 0 0 auto;
  color: rgb(220, 30, 204);
  width: 40%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  border-color: #cb0c9f;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  margin-bottom: 8rem;
  flex-direction: column;
}
.home-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image03 {
  top: -31px;
  left: 32px;
  width: 90%;
  display: block;
  position: absolute;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: -1.5rem;
  object-fit: cover;
  margin-left: 2rem;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container11 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.home-image04 {
  width: 500px;
  height: 314px;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: 8rem;
  object-fit: cover;
  margin-left: -1.5rem;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container12 {
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-text14 {
  color: rgb(73, 73, 111);
  height: 148px;
}
.home-testimonials {
  width: 100%;
  height: 674px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.home-bottom-wave-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -5px;
  height: 0px;
  position: absolute;
  object-fit: cover;
}
.home-image05 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 666px;
  position: absolute;
  object-fit: cover;
}
.home-container13 {
  width: 100%;
  height: 661px;
  display: flex;
  z-index: 1;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: 15rem;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container14 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container15 {
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  margin-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text27 {
  color: var(--dl-color-gray-white);
}
.home-text28 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-text29 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-text30 {
  color: var(--dl-color-gray-white);
}
.home-text31 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
}
.home-container16 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image06 {
  width: 40px;
  opacity: 0.5;
  object-fit: cover;
  transition: 0.3;
  border-radius: var(--dl-radius-radius-radius75);
}
.home-image06:hover {
  transform: scale(1.2);
}
.home-container17 {
  flex: 0 0 auto;
  width: 1px;
  height: 25px;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-image07 {
  width: 40px;
  opacity: 0.5;
  object-fit: cover;
  transition: 0.3;
  border-radius: var(--dl-radius-radius-radius75);
}
.home-image07:hover {
  transform: scale(1.2);
}
.home-container18 {
  flex: 0 0 auto;
  width: 1px;
  height: 25px;
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-image08 {
  width: 40px;
  object-fit: cover;
  transition: 0.3;
  border-radius: var(--dl-radius-radius-radius75);
}
.home-image08:hover {
  transform: scale(1.2);
}
.home-logos {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container19 {
  flex: 0 0 auto;
  width: 421px;
  height: 341px;
  display: flex;
  min-width: 400px;
  align-items: center;
  padding-left: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
  justify-content: flex-start;
}
.home-image09 {
  width: 343px;
  height: 100%;
  object-fit: cover;
}
.home-top-wave-image {
  top: -5px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.home-pricing {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
.home-pricing1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-container01 {
    max-width: 960px;
  }
  .home-card {
    width: 100%;
  }
  .home-features {
    max-width: 960px;
  }
  .home-text04 {
    text-align: center;
  }
  .home-pricing-card {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-container06 {
    max-width: 960px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container07 {
    max-width: 80%;
  }
  .home-text09 {
    text-align: center;
  }
  .home-text10 {
    width: 50%;
  }
  .home-container13 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    justify-content: center;
  }
  .home-container14 {
    align-items: center;
  }
  .home-container15 {
    margin-right: 0px;
  }
  .home-logos {
    display: none;
  }
}
@media(max-width: 767px) {
  .home-card {
    align-items: center;
  }
  .home-image01 {
    display: none;
  }
  .home-features {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container05 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-container06 {
    max-width: 720px;
  }
  .home-container08 {
    align-items: center;
    flex-direction: column;
  }
  .home-container09 {
    width: 80%;
  }
  .home-image02 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-text10 {
    width: 70%;
    align-self: center;
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-image03 {
    display: none;
  }
  .home-container11 {
    width: 80%;
  }
  .home-image04 {
    display: none;
  }
  .home-container13 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}
@media(max-width: 479px) {
  .home-card {
    padding: var(--dl-space-space-unit);
  }
  .home-container02 {
    align-items: center;
    flex-direction: column;
  }
  .home-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    width: 100%;
  }
  .home-container05 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-pricing-card2 {
    margin-bottom: 0px;
  }
  .home-container13 {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
}
